@import './variables'

.page // main
  // height: $page_main_height
  // padding-top: $from_top
  // padding-left: $from_side
  // padding-right: $from_side

.page--search
  //

.page--person
  //

.page__title,
.page__link
  position: relative
  display: inline-block
  font-family: $f_mono
  font-size: 2.25rem
  margin: 0
  margin-bottom: $title_bottom
  text-transform: uppercase
  text-decoration: none
  color: $white

  &:hover,
  &:focus
    text-decoration: none

  &::after
    content: ''
    position: absolute
    left: 0
    bottom: $unit_half
    width: 100%
    height: $bd_min
    background-color: $white

.page__link
  margin-bottom: $link_bottom

.page__link--back
  margin-left: $unitX3

  &::before
    content: ''
    position: absolute
    width: $unitX2
    height: $unitX2
    left: - $unitX3
    top: 41%
    transform: translateY(-50%)
    background-image: url('~assets/img/i-arrow-left.svg')
    background-size: contain
    background-position: center
    background-repeat: no-repeat

.page__footer
  //
