@import './variables'

.page // main
  // height: $page_main_height
  // padding-top: $from_top
  // padding-left: $from_side
  // padding-right: $from_side
  // overflow: hidden

.page--search
  //

.page--person
  //

.page__title,
.page__link
  position: relative
  display: inline-block
  font-family: $f_mono
  font-size: 2.25rem
  margin: 0
  margin-bottom: $title_bottom
  text-transform: uppercase
  text-decoration: none
  color: $white

  &:hover,
  &:focus
    text-decoration: none

  &::after
    content: ''
    position: absolute
    left: 0
    bottom: $rh_unit_half
    width: 100%
    height: $bd_min
    background-color: $white

    @media screen and (min-width: 600px)
      height: $bd_default

.page__link
  margin-bottom: $link_bottom

.page__link--back
  margin-left: $rw_unitX3

  &::before
    content: ''
    position: absolute
    width: $rw_unitX2
    height: $rh_unitX2
    left: - $rw_unitX3
    top: 41%
    transform: translateY(-50%)
    background-image: url('~assets/img/i-arrow-left.svg')
    background-size: contain
    background-position: center
    background-repeat: no-repeat

.page__footer
  overflow: hidden
