@import './fonts'


// colors //
  $black = #000000
  $white = #ffffff
  $transparent = transparent
  $red = #ff0000
  $green = #00ff00

  // by feature
  $main_bg = $black


// units //
  $unit = 12px            // 12
  $unitX2 = $unit * 2     // 24
  $unitX3 = $unit * 3     // 36
  $unitX4 = $unit * 4     // 48
  $unitX5 = $unit * 5     // 60
  $unitX6 = $unit * 6     // 72

  $unit_half = $unit / 2  // 6
  $unitX2_5 = $unit * 2.5 // 30

  $unitX10 = $unit * 10   // 120
  $unitX90 = $unit * 90   // 1080
  $unitX96 = $unit * 95   // 1140
  $unitX98 = $unit * 98   // 1164
  $unitX100 = $unit * 100 // 1200
  $unitX120 = $unit * 120 // 1440
  $unitX160 = $unit * 160 // 1920


// sizes //
  $fullhd_w = $unitX90  // 1080
  $fullhd_h = $unitX160 // 1920


// border sizes //
$bd_min = 2px


// icon sizes //
$arrow_width = 25px
$arrow_height = 15px


// offsets //
  $from_top = 1.875vh                // $unitX3 | 36 * 100 / 1920 = 1.875
  $from_side = 2.77778vw // 2.77778% // $unitX2 | 30 * 100 / 1080 = 2.77778
  // $from_side = 2.222222vw            // $unitX2 | 24 * 100 / 1080 = 2.2222

  $header_bottom = 6.25vh // $unitX10 | 120 * 100 / 1920 = 6.25
  $title_bottom = 2.5vh   // $unitX4  | 48 * 100 / 1920 = 2.5
  $search_bottom = 2.5vh  // $unitX4  | 48 * 100 / 1920 = 2.5
  $form_bottom = 3.75vh   // $unitX6  | 72 * 100 / 1920 = 3.75
  // $results_list_bottom = 2.5vh  // $unitX4 | 48 * 100 /1920 = 2.5
  // $results_list_bottom = 1.875vh  // $unitX4 | 36 * 100 /1920 = 1.875
  $results_list_bottom = 1.25vh  // $unitX2 | 24 * 100 /1920 = 1.25


// heights //
  $page_main_height = 75vh  // $unitX1440 | 1440 * 100 /1920 = 75
  // $results_list_height = 59.375vh  // $unitX95 | 1140 * 100 /1920 = 59.375
  $results_list_height = 60.625vh  // $unitX98 | 1164 * 100 /1920 = 60.625
  // $results_list_height = 62.5vh  // $unitX100 | 1200 * 100 /1920 = 62.5


// fonts //
$f_mono = 'MonoCondensedC', 'Andale Mono', AndaleMono, 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace // tahoma, helvetica, sans-serif
$f_garamond = 'GaramondNarrowC', Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif
